@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

body {
  background-color: #182132 !important;
  font-family: 'Roboto', sans-serif;
  color: #E3E6EB;
}
h3,h4,h5,h6,h7,h8{
  font-family: 'PT Serif', serif;
  color: #E3E6EB;
}

h2{
  font-family: 'PT Serif', serif;
  color: #E3E6EB;
}

h1{
  font-family: 'PT Serif', serif;
  color: #E3E6EB;
}

.cardBorder{
  border-style: none;
}

hr{
  color: #E3E6EB;
}

/* sidebar css */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}


/* sidebar css ends */





/* card hover css */

.fadeIn:hover .overlay{
  opacity: 1;
}

.cardText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

/* emd card hover css */



.sectionSpacing{
  padding-top: 30px;
}

.white{
  color: #ffffff;
}

.spacingMovies{
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.spacingMovies2{
  padding-left: 10px;

}

.topPadding{
  padding-top: 50px;
}

.ratingSpace{
  padding-left: 50px;
}

.btn{border-radius: 20px;}

.topspace{
  padding-top: 10px;
}

.topspace2{
  padding-top: 20px;
}

.textMove{
  padding-left: 50px;
  padding-top: 50px;
}

.bgcardcolor{
  background-color: #223F6B;
}

.btcolor{
  background-color: #94B4B1;
}

.filtercolor{
  background-color: #182132;
}


.bt_space2{
  padding-left: 150px;
  padding-top: 250px;
}


.bt_space{
  padding-left: 150px;
  padding-top: 220px;
}

.see_more{
  padding-top: 250px;
  padding-left: 450px;
}

.see_more2{
  padding-top: 150px;
  padding-left: 330px;
}

.slightPush{
  padding-left: 120px;
}

.slightPush2{
  padding-left: 50px;
}

.slightPush3{
  padding-left: 80px;
}

.slightPush4{
  padding-left: 150px;
}

.slightPush5{
  padding-left: 100px;
}

.fa-heart:hover {
    color: red !important;
}

.fa-star:hover{
  color: #FFC300  !important;
}

.titlea{
  padding-left: 450px;
  padding-top: 200px;
}

.push{
  padding-left: 550px;
}

.push2{
  padding-left: 10px;
}

.push3{
  padding-left: 600px;
}

.push4{
  padding-left: 15px;
}

.bold{
  font-weight: bold;
}

option{
  color: white;
  background-color: #223F6B;
}

.bg_img {
    background-image: url(../../img/headerimg.jpg);
    min-height: 100vh;
    min-width: 100vw;
    opacity: 90%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;

}

.header {
  border-style: none !important;
  border-radius: 0;
  margin: 0 0 25px 0;
}

img{
  border-radius: 0 !important;
}

.my_card {
  margin-top: 10px;
  border-style: none !important;
  border-radius: 0;
  height: 270px;
  background-color: rgba(196, 196, 196, 0.5);
}
.card_padding{
  padding-top: 5px !important;
  padding-left: 8px;
}
.title_size{
  font-size: 13px !important;
}


.center_text {
    margin: 20px;
    text-align: center !important;
}

.width {
    max-width: 255px !important;
}
.padding {
    padding: 20px;
}
/*
.box_style {
  color:#E3E6EB !important;
  padding: 100px;
  border-radius: 0;
  background: rgba(84, 127, 162, 0.6);
} */

.box_style_two {
  border-radius: 0;
  color: #E3E6EB !important;
  background: rgba(84, 127, 162, 0.6);
}

.box_style {
  color:#E3E6EB !important;
  padding: 100px;
  background: rgba(84, 127, 162, 0.6);
}

.box_style_three {
  border-radius: 0;
  color: #E3E6EB !important;
  background: #182132 !important;
  border: 1px solid #fff;
}

.box_style_four {
  border-radius: 0;
  color: #E3E6EB !important;
  background-color: #3B2D47;
}


.col-form-label {
    font-size: 15px;
    color: #E3E6EB !important;
    margin: 0;
    padding: 10px;
    display: block;
    opacity: 1;
    -webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
}

.form-control {
    background-color: rgb(84, 127, 162, 0.001);
    border-radius: 0;
    border-color: #E3E6EB;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
}

.form-control:focus {
    background-color: rgb(84, 127, 162, 0.001);
    box-shadow: none;
    border-color: #c6c8cc;
}

.login_btn{
  background-color: #1F6C64;
}
.create_btn{
  background-color: #1F6C64;
  color: #E3E6EB
}

.light_button{
  background-color: #69C0B8;
  margin: 10px;
}
.light-link{
  color: #fff !important;
}
.title{
  padding: 0px;
}

.dropdown {list-style: none; padding: 10px; display: inline-block;}
.dropdown .nav-link {color:#fff; text-decoration: none;}
.dropdown .dropdown-menu a{color: #000; text-decoration: none;}
.dropdown-menu .dropdown-item {display: inline-block; width: 100%; padding: 10px 5px;}
.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}
