@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

body {
  background-color: #182132 !important;
  font-family: 'Roboto', sans-serif;
  color: #E3E6EB;
}
h3,h4,h5,h6,h7,h8{
  color: #E3E6EB;
}
h2{
  font-family: 'PT Serif', serif;
  color: #E3E6EB;
}

h1{
  font-family: 'PT Serif', serif;
  color: #E3E6EB;
}

/* p{
  color: #E3E6EB;
} */


.topspace{
  padding-top: 50px;
}

.letterspace{
  padding-left: 30px;
}

.bgcardcolor{
  background-color: blue;
}

.bt_space{
  padding-left: 150px;
  padding-top: 220px;
}

.see_more{
  padding-top: 50px;
  padding-left: center;
}
.fa-heart:hover {
    color: red !important;
}

.fa-star:hover{
  color: #FFC300  !important;
}

.titlea{
  padding-left: 450px;
  padding-top: 200px;
}

.push{
  padding-left: 550px;
}

.push2{
  padding-left: 10px;
}

option{
  color: white;
}

.bg_img {
    background-image: url(../../img/headerimg.jpg);
    min-height: 100vh;
    min-width: 100vw;
    opacity: 90%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;

}

.header {
  border-style: none !important;
  border-radius: 0;
  margin: 0 0 25px 0;
}
img{
  border-radius: 0 !important;
}
.my_card {
  margin-top: 10px;
  border-style: none !important;
  border-radius: 0;
  height: 270px;
  background-color: rgba(196, 196, 196, 0.5);
}
.card_padding{
  padding-top: 5px !important;
  padding-left: 8px;
}
.title_size{
  font-size: 13px !important;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        -webkit-transition: none;
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.center_text {
    margin: 20px;
    text-align: center !important;
}

.width {
    max-width: 255px !important;
}
.padding {
    padding: 20px;
}

.box_style_two {
  color: #E3E6EB !important;
  background: rgba(84, 127, 162, 0.6);
}

.box_style {
  color:#E3E6EB !important;
  padding: 100px;
  border-radius: 0;
  background: rgba(84, 127, 162, 0.6);
}

.col-form-label {
    font-size: 15px;
    color: #E3E6EB !important;
    margin: 0;
    padding: 10px;
    display: block;
    opacity: 1;
    -webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
}

.form-control {
    background-color: rgb(84, 127, 162, 0.001);
    border-radius: 0;
    border-color: #E3E6EB;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
}

.form-control:focus {
    background-color: rgb(84, 127, 162, 0.001);
    box-shadow: none;
    border-color: #c6c8cc;
}

.login_btn{
  background-color: #1F6C64;
}
